// global colors
$white : #fff;
$black : #000;
$dark-grey : #161616;
$link-color : #0F62FE;


//text-colors
$txt-green : #0E6027;
$txt-purple : #6929C4;
$txt-aqua : #00539A;
$txt-blue : #0043CE;


//bg colors
$green-bg : #C2F3CF;
$purple-bg : #EBE2FB;
$aqua-bg : #CDEBEB;
$light-blue-bg : #D1E1FB;
$badge-bg :#0043CE;
$comment-bg : #DAEEED;
$search-bg : #F4F4F4;
$active-menu-bg : #0F62FE;
$purple-badge-bg: #E8DAFF;
$cheers-comment-bg : #DAEEED;

// borders
$search-border : #8D8D8D;
$light-grey-border : #E0E0E0;
$celebration-right : #636FFD;


// breakpoints

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large tablets and desktops
$screen-xl-min: 1200px;


